* {
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgb(2, 124, 98), black);
    color: white;
}

button {
    background: white;
    color: black;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 30px;
}